.footer {
    background: #f8f9fa;
    color: #1d1d1d;
    text-align: center;
    padding: 25px;
    font-size: 1.1rem;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1);
}

footer img {
    height: 1.3rem;
   }
.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}
.footer-section {
    background: #f8f9fa;
    flex: 1;
    padding: 20px;
    gap: 20px;
    min-width: 180px;
}
.footer-section h4 {
    color: #666;
    font-size: 1rem;
}
.footer-section a {
    color: #000;
    font-size: 0.9rem;
    margin: 5px 0;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 100px;
    padding-bottom: 10px;
}
.footer-section a:hover{
    color: #000;
    font-size: 0.9rem;
    margin: 5px 0;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 100px;
    padding-bottom: 10px;
}
.footer-section .social-icons a {
    color: #000;
    font-size: 13px;
    margin: 5px 0;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-top: 1px solid #ddd;
    padding: 10px 20px;
    font-size: 12px;
    background-color: #f8f9fa;
}
.lang-switch {
    display: flex;
    gap: 5px;
    align-items: center;
}
.lang-switch button {
    background: none;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    color: #888;
}
.lang-switch button.active {
    color: #000;
    font-weight: bold;
}
.lang-switch span {
    width: 1px;
    height: 16px;
    background-color: #888;
    display: inline-block;
    margin-bottom: 0px !important;
}
.copyright {
    text-align: right;
    color: #777;
    font-size: 12px;
}
.info-text {
    font-size: 12px;
    margin-top: 10px;
    max-width: 1200px;
    text-align: left;
    padding: 10px 20px;
}
.footer-social{
    font-size:0.9rem;
}
.footer-section.social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.social-icons {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    
    
}
.social-icons a {
    text-decoration: none;
    color: #666;
    font-size: 18px;
    
}
.social-icons a i {
    border:10px solid #f8f9fa;
    border-radius: 20px;
}

.footer-section .br{
    padding: 8px;
}

.footer-iskur {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.footer-iskur .iskur-img img{
    width: 50px;
    height: 50px;
}
