header {
    background: #ffffff;

}

.navbar {
    justify-content: flex-start;
    padding: 0;
}
header img {
 height: 1.3rem;
}
header .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    max-width: 1250px;
    width: 100%;
}
header .search-box {
    width: 250px;
    border-radius: 5px;
}
header .navbar-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}
header .navbar-brand {
    font-size: 1.5rem;
}
header .btn-success {
    white-space: nowrap;
}
header .dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
}
header .nav-item.dropdown:hover .dropdown-menu {
    display: block;
}
header .job-info {
    display: none;
    background: black;
    color: white;
    padding: 10px;
    position: absolute;
    width: 300px;
}
header .nav-item:hover .job-info {
    display: block;
}

.navbar-collapse{
    display: none !important;
}
@media (max-width: 1024px) {
    header .container {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    
    .navbar-toggler {
        order: 0;
    }
    
    .navbar-brand {
        order: 1;
        margin: 0 auto;
    }
    
    .search-form {
        order: 2;
        width: 200px;
    }
    
    .navbar-collapse {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: white;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        padding: 10px;
        display: none; /* Varsayılan olarak gizli */
        transition: all 0.3s ease-in-out; /* Açılma animasyonu */
    }
    
    .navbar-collapse.show {
        display: block; /* Açıldığında görünür yap */
    }
    
    .navbar-nav {
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }
    
    .btn-success {
        order: 3;
        margin-left: auto;
    }
    
    /* Hamburger menünün düzgün açılmasını sağlamak için */
    .navbar-toggler.collapsed + .navbar-collapse {
        display: none;
    }
    
    .navbar-toggler:not(.collapsed) + .navbar-collapse {
        display: block;
    }
}