body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f5f7;
    color: #333;
}
section.container {
    padding: 20px;
}

h1 {
    
    font-weight: bold;
}

/* Kart Stilleri */
.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    padding: 0 !important;
}
.card img{
    padding: 20px;
}
.card-body{
    width: 100%;
    text-align: center;
}

.card-footer{
    width: 100%;
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    color: rgb(29, 29, 29);
}

.card hr {
 margin: 0;
 padding: 0;
}

.apply{
    background-color:#f4f5f7;
}
.badge {
    font-size: 0.9rem;
    padding: 5px 10px;
}

/* Başvur Butonu */
.btn-success {
    background: #00C26D;
    color: white;
    border: none;
    padding: 5px 40px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 8px;
}

.btn-success:hover {
    background-color: #00C26C;
}

/* Hero*/

.hero {
    width: 100%;
    height: 50vh;
}

.hero .background-img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

@media (max-width: 768px) {
    .hero {
        height: auto;
        
    }
    .hero .btn {
        display: none;
    }

    .bootcamp-img {
        display: none;
    }
    .background-img {
        height: 35vh !important;
        width: 100%;
    }
}

.hero .overlay-content {
    position: relative;
}

.hero .link-content {
    color: gray;
    text-decoration: none;
    padding-top: 40px;
    font-size: 1.3rem;
    margin-top: 0;
}



.hero .link-content a {
    color: white;
    text-decoration: none;
    margin-top: 0px;
}

.hero .link-content a:hover{
    text-decoration:underline;
}

.hero h1 {
    font-size: 3rem;
}

.hero .btn-success {
    background-color: #1dbf73;
    border: none;
}

.hero .btn-success:hover {
    background-color: #17a866;
}
.hero button {
    background: #00C26D;
    color: white;
    border: none;
    padding: 15px 35px;
    font-size: 1.3rem;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 20px;
}



/* Event Kısmı*/
@media (max-width: 768px) {
    .event {
        margin-top: 7rem;
    }
}
/* ABOUT Kısmı*/

.about{
    background-color: #fff;
}
.about-boot {
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-img,.about-text{
    padding: 30px;
    font-size: 1.3rem;
}

span{
    margin-bottom: 40px;
}

/* Kimler katılabilir*/
.who_join{
    background-color: #f4f5f7;
    margin: 50px 450px;
    font-size: 18px;
    letter-spacing: 0.15px;
    font-weight: 550;

}

 /* improve_yourself */
.improve_yourself{
    background-color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}
.improve_yourself h2{
    text-align: left;
    font-size: 33px;
}
.improve_yourself .content-box {
    max-width: 1100px;
    margin: 40px auto;
    text-align: center;
}

.improve_yourself .card {
    border: 1px solid #575757 !important;
    border-radius: 10px !important;
    padding: 20px !important;
    text-align: center !important;
    transition: all 0.3s ease-in-out !important;
}
.improve_yourself .card p{
    font-weight: 550;
}

.improve_yourself .icon img {
    width: 70px !important;
    margin-bottom: 10px !important;
    padding: 0 !important;
}

/* testimonial-section */
.testimonial-section {
    padding: 50px 0;
    background-color: #f8f9fa;
}
.testimonial-section h2{
    text-align: left;
    padding-left: 22%;
}
.testimonial-card {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 20px;
    border: 1px solid #868686;
    width: 600px;
    height: 200px;
}

.testimonial-card img {
    flex: 1;
    max-width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 15px;
}

.testimonial-content {
    flex: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.testimonial-text {
    flex: 1;
    max-height: 110px;
    overflow-y: auto;
    padding-right: 10px;
}

/* Kaydırma Çubuğu */
.testimonial-text::-webkit-scrollbar {
    width: 6px;
}

.testimonial-text::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}

/* Kullanıcı Bilgileri */
.testimonial-author {
    padding-top: 10px;
}

.testimonial-author h4 {
    font-size: 16px;
    color: #333;
    margin: 0;
}

.testimonial-author span {
    font-size: 14px;
    color: #777;
}

.owl-carousel{
    width: 1200px;
    margin: auto;
}

/*Eğitim alanı*/

.education-about{
    background-color: #575757;
    font-size: 14px;
    letter-spacing: 0.17px;
}

.accordion-header{
    background-color: #fff !important;
    --bs-accordion-active-bg: #fff;
}

.accordion-header h2{
    color: #000;
}

/* Pagination */

.pagination{
    --bs-pagination-font-size: 1.5rem;
    background: transparent gray;
}

.pagination .page-item:hover{
    border: 1px solid #00C26C;
    --bs-pagination-hover-border-color:#00C26C !important;
}

.pagination .page-link {
    color: #000;
}

/* INDEX*/

/* Hero*/
.hero-index{
    display: flex;              
    align-items: center;       
    justify-content: center;    
    width: 100%;
    height: 50vh;
    background-color: #f8f9fa;
}

.hero-index .overlay-content {
    position: relative;
}

.hero-index .link-content {
    color: gray;
    text-decoration: none;
    padding-top: 40px;
    font-size: 1.3rem;
    margin-top: 0;
}
.hero-index .link-content a {
    color: white;
    text-decoration: none;
    margin-top: 0px;
}

.hero-index .link-content a:hover{
    text-decoration:underline;
}

.hero-index h1 {
    font-size: 3rem;
}

.hero-index .btn-success {
    background-color: #1dbf73;
    border: none;
}

.hero-index .btn-success:hover {
    background-color: #17a866;
}
.hero-index button {
    background: #00C26D;
    color: white;
    border: none;
    padding: 15px 35px;
    font-size: 1.3rem;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 20px;
}
/*Event*/
.index-event{
    background-color: #fff;
}
.toggle-btn {
    width: 100%;
    padding: 10px;
    background-color: white;
    color: black;
    border: 1px solid transparent;
    cursor: pointer;
    font-size: 2rem;
    transition: 0.3s ease-in-out;
    border: 1px solid #777;
}

.toggle-btn:hover,
.toggle-btn.active {
    border: 1px solid #000;
}

.toggle-text {
    font-size: 18px;
    margin-top: 20px;
    background-color: white;
    color: black;
    padding: 15px;
    border-radius: 5px;
    display: block;
}

/* İlk p elementi açık olacak */
.toggle-content:first-of-type {
    display: block;
}
.apply-btn {
    display: inline-block;
    margin: 20px;
    font-size: 18px;
    color: #17a866;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;

}

.apply-btn i {
    font-style: normal;
    font-weight: bold;
    margin-left: 5px;
}

.apply-btn:hover {
    color: #0056b3;
}
/* Education*/
.education {
    background-color: #fff;
}
.education .h1{
    padding-top: 20px;
}

.education .card:hover{
    border: 1px black solid;
}

.education .card-body{
    text-align: left;
    font-size: 16px;
}
/* test */
.test .card:hover{
    border: 1px black solid;
}

/*Job Listing*/

.intro {
    width: 100%;
    margin-bottom: 20px;
    padding-top: 40px;
}
.intro h2 {
    font-size: 2rem;
    margin: 0;
    font-weight: bold;
}
.intro p {
    font-size: 18px;
    color: #666;
}

.job-title .container{
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.job-listing {
    width: 32%; 
    display: flex;
    align-items: center;
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.job-listing:hover{
    border: 1px solid #000;
}
.job-logo {
    width: 60px;
    height: 60px;
    background: #ddd;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}
.job-details {
    flex-grow: 1;
}
.job-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}
.company-name, .job-location {
    font-size: 14px;
    color: #666;
    margin: 2px 0;
}

.view-all-container {
    width: 100%;
    margin-top: 20px;
}
.view-all-button {
    background-color: #f5f5f5; 
    color: #17a866;
    border: 1px solid #00C26D;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}


/*Slider part*/

.main-slider {
    background-color: #293349;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.main-slider .container {
    position: relative;
    width: 80%;
    width: 1200px; 
    overflow: hidden;
}

.main-slider .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    position: relative;
}

.main-slider .slide {
    min-width: 1200px; 
    flex-shrink: 0;
    position: relative;
}

.main-slider .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.main-slider .slider-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.main-slider button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.main-slider button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.main-slider .pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.main-slider .dot {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.main-slider .dot.active {
    background-color: #17a866;
}

.main-slider .dot:hover {
    background-color: #17a866;
}

/*Information kısmı*/

.Information {
    background-color: #f5f5f5; 
    padding: 40px 0; 
}
.Information .box-body{ 
    width: 25rem;
    height: auto;
}
.Information .card {
    background-color: white; 
    padding: 30px !important; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}

.Information .card h2 {
    color: black; 
    font-size: 1.5rem; 
    margin-bottom: 10px; 
}

.Information .card p {
    color: #666; 
    font-size: 1rem; 
    margin-bottom: 20px;
}

.Information .card button {
    background-color: #00C26D;
    color: white;
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.Information .card:hover {
    border: 1px solid black;
}

/*Referances*/
.references .card-img-top {
    max-width: 300px;
    object-fit: contain;
    margin: auto;
}
.references .card {
    border: none;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 550px;
    margin-bottom: 25px;
}
.references .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.references .card-text {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 150px;
}
.references .carousel-control-prev, .references .carousel-control-next {
    background: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    opacity: 0.8;
}

/*Logo alanı*/

.logos {
    position: relative;
    padding: 20px;
    background-color: #fff;
  }
  
  .logos .container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    
  }
  
  .logos .background-logos {
    display: none; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; 
  }
  
  .logos .background-logo {
    width: 100px; 
  }
  
  .logos .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .logos .logo {
    flex: 1 0 16.66%;
    padding: 10px;
    text-align: center;
    position: relative;
  }
  
  .logos .logo img {
    max-width: 100%;
    height: auto;
  }
  
  /* employer */
  
  .employer {
    background-color: #293349;
    padding: 40px 0;
}

.employer .container {
    max-width: 1200px;
    margin: 0 auto;
}

.employer h2, .employer p {
    color: #fff;
}

.employer .row {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.employer .text {
    flex: 1;
    margin-right: 20px; 
}

.employer .email {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 5px; 
    width: 100%;
    max-width: 500px; 
    
}
.employer .email:hover{
    border: 1px solid #000;
}
.employer .email i {
    margin-right: 10px; 
}

.employer .email input {
    border: none;
    padding: 10px;
    flex: 1;
    border-radius: 5px;
    margin-right: 10px; 
}

.employer .email button {
    background-color: #00C26D;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}




