body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f5f7;
    color: #333;
}
section.container {
    padding: 20px;
}

h1 {
    
    font-weight: bold;
}

/* Kart Stilleri */
.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    padding: 0 !important;
}
.card img{
    padding: 20px;
}
.card-body{
    width: 100%;
}

.card-footer{
    width: 100%;
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    color: rgb(29, 29, 29);
}

.card hr {
 margin: 0;
 padding: 0;
}

.apply{
    background-color:#f4f5f7;
}
.badge {
    font-size: 0.9rem;
    padding: 5px 10px;
}

/* Başvur Butonu */
.btn-success {
    background: #00C26D;
    color: white;
    border: none;
    padding: 5px 40px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 8px;
}

.btn-success:hover {
    background-color: #00C26C;
}


.hero {
    width: 100%;
    height: 50vh;
}

.hero .background-img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

@media (max-width: 768px) {
    .hero {
        height: auto;
        
    }
    .hero .btn {
        display: none;
    }

    .bootcamp-img {
        display: none;
    }
    .background-img {
        height: 35vh !important;
        width: 100%;
    }
}

.hero .overlay-content {
    position: relative;
}

.hero .link-content {
    color: gray;
    text-decoration: none;
    padding-top: 40px;
    font-size: 1.3rem;
    margin-top: 0;
}

.hero .link-content a {
    color: white;
    text-decoration: none;
    margin-top: 0px;
}


.hero h1 {
    font-size: 3rem;
}

.hero .btn-success {
    background-color: #1dbf73;
    border: none;
}

.hero .btn-success:hover {
    background-color: #17a866;
}
.hero button {
    background: #00C26D;
    color: white;
    border: none;
    padding: 15px 35px;
    font-size: 1.3rem;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 20px;
}



/* Event Kısmı*/
@media (max-width: 768px) {
    .event {
        margin-top: 7rem;
    }
}
/* ABOUT Kısmı*/
.about {
    background: #fff;
    padding: 80px 60px;
    text-align: center;
    font-size: 1.3rem;
}

span{
    margin-bottom: 40px;
}

.who_join{
    background-color: #f4f5f7;
    margin: 50px 450px;
    font-size: 18px;
    letter-spacing: 0.15px;
    font-weight: 550;

}

 /* improve_yourself */
.improve_yourself{
    background-color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}
.improve_yourself h2{
    text-align: left;
    font-size: 33px;
}
.improve_yourself .content-box {
    max-width: 1100px;
    margin: 40px auto;
    text-align: center;
}

.improve_yourself .card {
    border: 1px solid #575757 !important;
    border-radius: 10px !important;
    padding: 20px !important;
    text-align: center !important;
    transition: all 0.3s ease-in-out !important;
}
.improve_yourself .card p{
    font-weight: 550;
}

.improve_yourself .icon img {
    width: 70px !important;
    margin-bottom: 10px !important;
    padding: 0 !important;
}

.testimonial-section {
    padding: 50px 0;
    background-color: #f8f9fa;
}
.testimonial-section h2{
    text-align: left;
    padding-left: 22%;
}
.testimonial-card {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 20px;
    border: 1px solid #868686;
    width: 600px;
    height: 200px;
}

.testimonial-card img {
    flex: 1;
    max-width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 15px;
}

.testimonial-content {
    flex: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.testimonial-text {
    flex: 1;
    max-height: 110px;
    overflow-y: auto;
    padding-right: 10px;
}

/* Kaydırma Çubuğu */
.testimonial-text::-webkit-scrollbar {
    width: 6px;
}

.testimonial-text::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}

/* Kullanıcı Bilgileri */
.testimonial-author {
    padding-top: 10px;
}

.testimonial-author h4 {
    font-size: 16px;
    color: #333;
    margin: 0;
}

.testimonial-author span {
    font-size: 14px;
    color: #777;
}

.owl-carousel{
    width: 1200px;
    margin: auto;
}