body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f5f7;
    color: #333;
}
section.container {
    padding: 20px;
}

h1 {
    
    font-weight: bold;
}

/* Kart Stilleri */
.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    padding: 0 !important;
}
.card img{
    padding: 20px;
}
.card-body{
    width: 100%;
}

.card-footer{
    width: 100%;
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    color: rgb(29, 29, 29);
}

.card hr {
 margin: 0;
 padding: 0;
}

.apply{
    background-color:#f4f5f7;
}
.badge {
    font-size: 0.9rem;
    padding: 5px 10px;
}

/* Başvur Butonu */
.btn-success {
    background: #00C26D;
    color: white;
    border: none;
    padding: 5px 40px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 8px;
}

.btn-success:hover {
    background-color: #00C26C;
}
header {
    background: #ffffff;
    color: #1d1d1d;
    padding: 15px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.logo {
    width: 12rem;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    padding: 0;
    margin: 0;
}
nav ul li a {
    color: #1d1d1d;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
}
.hero {
    position: relative;
  }
  
.background-img {
    width: 100%;
    height: fit-content;
    display: block; /* Görselin altındaki boşluğu engellemek için */
  }
  
.overlay-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Resmin tüm yüksekliğini kapsayacak */
    display: flex; /* Flexbox ile yerleşim */
    
    align-items: center; /* Dikeyde ortalamak için */
    padding: 0 20px; /* İçeriği kenarlara yakınlaştır */
    color: white; /* Yazı rengi beyaz */
    z-index: 1; /* İçeriğin resmin üstünde görünmesi için */
  }
  
.text-content {
    width: 60%; /* Sol alandaki metin kısmının genişliği */
    text-align: center;
  }
  
.image-content img {
    width: 150%; /* Resmin genişliği */
    height: auto;
  }
  
h1, p, button {
    margin: 10px 0;
  }
.hero button {
    background: #00C26D;
    color: white;
    border: none;
    padding: 15px 35px;
    font-size: 1.3rem;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 20px;
}

.event-card button {
    background: #00C26D;
    color: white;
    border: none;
    padding: 5px 40px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 8px;
}
.about {
    background: #fff;
    padding: 80px 60px;
    text-align: center;
    font-size: 1.3rem;
}

span{
    margin-bottom: 40px;
}

.who_join{
    background-color: #f4f5f7;
    margin: 50px 450px;
    font-size: 18px;
    letter-spacing: 0.15px;
    font-weight: 550;

}
.improve_yourself{
    background-color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}
.improve_yourself h2{
    text-align: left;
    font-size: 33px;
}
.content-box {
    max-width: 1100px;
    margin: 40px auto;
    text-align: center;
}

.card {
    border: 1px solid #575757;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}
.card p{
    font-weight: 550;
}

.icon img {
    width: 70px;
    margin-bottom: 10px;
}

.testimonial-section {
    padding: 50px 0;
    background-color: #f8f9fa;
}
.testimonial-section h2{
    text-align: left;
    padding-left: 22%;
}
.testimonial-card {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 20px;
    border: 1px solid #868686;
    width: 600px;
    height: 200px;
}

.testimonial-card img {
    flex: 1;
    max-width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 15px;
}

.testimonial-content {
    flex: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.testimonial-text {
    flex: 1;
    max-height: 110px;
    overflow-y: auto;
    padding-right: 10px;
}

/* Kaydırma Çubuğu */
.testimonial-text::-webkit-scrollbar {
    width: 6px;
}

.testimonial-text::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}

/* Kullanıcı Bilgileri */
.testimonial-author {
    padding-top: 10px;
}

.testimonial-author h4 {
    font-size: 16px;
    color: #333;
    margin: 0;
}

.testimonial-author span {
    font-size: 14px;
    color: #777;
}

.owl-carousel{
    width: 1200px;
    margin: auto;
}